# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Angular
.angular/
dist/
*.log

# Compiled Java classes
*.class

# Java binary
*.war
*.jar

# Log files
*.log

# Package Files
*.war
*.ear

# IDE specific files (e.g., IntelliJ IDEA, Eclipse, NetBeans)
*.idea/
*.project
*.classpath
*.settings/
*.factorypath

# Maven
target/

# Gradle
.gradle/
build/

# Temporary files
*.tmp
*.swp
*.swo

# Mac OS
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Trashes
.Trashes

# Windows
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Git
.git/

# Ignore angular cache files
.angular/cache/

# Ignore build results
out/
build/
