<script>
        // Add an event listener to the link element
        document.getElementById('loginLink').addEventListener('mouseover', function () {
            // Change the content of the logout option
            document.getElementById('logoutOption').innerText = 'Logout Option';
        });

        // Reset the content when the mouse leaves the link
        document.getElementById('loginLink').addEventListener('mouseout', function () {
            document.getElementById('logoutOption').innerText = 'Logout';
        });
    </script>


<!-- <div class="container"> -->

    <router-outlet></router-outlet>
<!-- </div> -->


<footer class = "footer">
    <div class = "container">
        <span>Employee Management System</span>
    </div>
</footer>

